<head>

    <% if Rails.env.production? %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180283881-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-180283881-1');
        </script>
    <% end %>

    <%= javascript_pack_tag 'spellbooker' %>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<main id="root"></main>