<head>
    <%= javascript_pack_tag 'spellbooker' %>
    <%= csrf_meta_tags %>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
</head>
<main id="root"></main>