<head>

    <% if Rails.env.production? %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180283881-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-180283881-1');
        </script>
    <% end %>

    <meta property="og:title" content="Spellbooker" />
    <meta property='og:image' content="<%= image_url('preview.png') %>"/>
    <meta property="og:description" content="View, search, and customize spell lists for Dungeons & Dragons 5th Edition." />
    <meta property="og:url" content="http://spellbooker.com/" />

    <%= javascript_pack_tag 'spellbooker' %>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<main id="root"></main>