#app-footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#app-footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

#app-footer svg {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    transition: color 0.5s;
}

#app-footer svg:hover {
    cursor: pointer;
}

#app-footer label {
    font-weight: bolder;
    font-size: 0.75rem;
}

#footer-about-button:hover {
    color: green;
}

#footer-github-button:hover {
    color: purple;
}

#footer-patreon-button:hover {
    color: #f96854;
}

#footer-contact-button:hover {
    color: darkgray;
}