  
.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg-closed {
  display: none;
}
  
.modal-bg > * {
    position: relative;
    z-index: 101;
}

.modal-bg-opening > * {
  opacity: 0;
}

.modal-bg-open > * {
  opacity: 1;
  transition: opacity 1s;
}

.modal-bg-closing > * {
  opacity: 0;
  transition: opacity 0.5s;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--light-parchment);
  border: 3px solid black;
  border-radius: 3px;
  padding: 0.75em;
}

.modal-form h1 {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.modal-form i {
  font-style: italic;
}

.modal-form > section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modal-form button {
  background-color: var(--dark-parchment);
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 1em;
  width: 5em;
  transition: background-color 0.5s;
}

.modal-form button:disabled {
  background-color: var(--gray-parchment);
}

.modal-form button:disabled:hover {
  cursor: not-allowed;
}

#contact-form {
    width: 30rem;
    justify-content: flex-start;
    padding: 0.75rem 1.5rem;
}

#contact-form h1 {
    margin-bottom: 2rem;
}

#contact-form label {
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

#contact-form label, #contact-form select {
    font-size: 1.25rem;
}

#contact-form select {
    border: 2px solid black;
    border-radius: 3px;
}

#contact-form section:first-of-type {
    display: inline-block;
    margin-bottom: 1rem;;
}

#contact-form textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 15rem;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
}

#manage-classes {
  width: 24.5rem;
  display: inline-block;
}

#manage-classes h1 {
  margin-bottom: 1rem;
}

.manage-classes-li-active {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  transition: background-color 1s;
}

.edit-li {
  background-color: var(--dark-parchment);
}

#manage-classes li.first {
  border-top: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#manage-classes li.last {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.manage-classes-li-inactive {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 0;
  padding: 0rem 1rem;
  overflow: hidden;
  transition: height 0.5s, padding 0.5s;
}

li.last ~ .manage-classes-li-inactive {
  border-left: none;
  border-right: none;
  background: none;
}

.manage-classes-li-inactive > * {
  opacity: 0;
  transition: opacity 0.2s;
}

.class-li-buttons {
  display: inline-block;
  width: 3rem;
  transition: margin-right 0.5s;
}

#manage-classes-button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.edit-li section {
  margin-right: 3rem;
}

#manage-classes svg:hover {
  cursor: pointer;
}

#manage-classes svg:first-of-type {
  margin-right: 0.5rem;
}

#manage-classes input {
  border: none;
  background: none;
  padding: 0;
}

#manage-classes label, #manage-classes input {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}