#spellbook-container {
    display: flex;
    padding: 2rem;
    height: 90%;
}

#below-nav-section {
    margin-top: 2.5em;
    width: 100%;
    display: flex;
}

#spell-list-sidebar {
    border-radius: 3px;
    margin-right: 2.5em;
    height: 100%;
}

.list-button {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.list-button:hover {
    cursor: pointer;
}

#spell-list-sidebar ol::-webkit-scrollbar, .spell-info::-webkit-scrollbar {
    width: 12px;
}

#spell-list-sidebar ol::-webkit-scrollbar-track, .spell-info::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#spell-list-sidebar ol::-webkit-scrollbar-thumb, .spell-info::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-clip: padding-box;
}

#spell-list-sort, #spell-list-sidebar li {
    display: flex;
    justify-content: space-between;
}

#spell-list-tabs {
    width: 100%;
    box-sizing: border-box;
    height: 1.5em;
}

#spell-list-tabs button {
    background-color: var(--gray-parchment);
    border-top: 2px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1em;
    box-sizing: border-box;
    width: 50%;
    height: 2em;
}

#spell-list-tabs button:first-child {
    border-left: 2px solid black;
    border-right: 1px solid black;
}

#spell-list-tabs button:last-child {
    border-left: 1px solid black;
    border-right: 2px solid black;
}

.active-tab {
    border-bottom: none;
}

.inactive-tab {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#spell-list-sort {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
    padding: 0.4em 1em;
    box-sizing: border-box;
    background-color: var(--gray-parchment);
}

#spell-list-sort button {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    margin-top: 0.65em;
}

#spell-list-sidebar ol {
    background-color: var(--light-parchment);
    width: 17em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1em;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(500px);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-height: 100%;
    transition: height 0.5s;
}

#spell-list-sidebar span:first-child {
    width: 10em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#spell-list-sidebar li {
    border-bottom: 1px solid black;
    padding: 0.4em 1em;
    transition: background-color 0.3s, padding-left 0.3s;
    border-right: 2px solid black;
    height: 2em;
    box-sizing: border-box;
}

#spell-list-sidebar li:hover {
    cursor: pointer;
    padding-left: 2em;
    transition: background-color 0.3s, padding-left 0.3s;
}

.open-li {
    background-color: rgba(10, 245, 10, 0.5);
    transition: background-color 0.3s, padding-left 0.3s;
}

.white-li {
    background-color: rgba(245, 245, 245, 0.5);
}

.dark-li {
    background-color: rgba(128, 128, 128, 0.5);
}

#spell-section-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#spellbook-name-header {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#filters-nav {
    background-color: var(--gray-parchment);
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    min-height: 4.5em;
    box-sizing: border-box;
    width: 100%;
}

#search-container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

#search-container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 0.5em;
}

#search-container label {
    margin-right: 0.5em;
}

#search-container input {
    padding: 0.25em 0.5em;
    border-radius: 3px;
    outline: none;
    border: 2px solid black;
}

#search-container button {
    border: 2px solid black;
    border-radius: 3px;
    background-color: var(--dark-parchment);
    height: 3em;
    font-weight: bolder;
}
#search-container> *, #selects-container > * {
    padding: 0 0.25em;
}

#filters-nav label{
    font-weight: bolder;
}

#selects-container {
    width: fit-content;
    display: flex;
    align-items: center;
}

#selects-container label {
    margin-right: 0.125em;
}

#selects-container select {
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 1em;
}

.spell-container {
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    background-color: var(--light-parchment);
    box-sizing: content-box;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.spell-info {
    box-sizing: border-box;
    overflow-x: hide;
    overflow-y: auto;
    padding: 0 1em;
    background-image: url("spell-panel-bg.png");
}

.spell-header {
    height: 50px;
    box-sizing: border-box;
    background-color: var(--dark-parchment);
    border-bottom: 4px solid black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.spell-header:hover {
    cursor: all-scroll;
}

.spell-header h1 {
    font-weight: bolder;
    font-size: 1.75em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
}

.spell-button-section {
    font-size: 1.5em;
}

.spell-button-section svg {
    margin-right: 0.5em;
}

.spell-button-section svg:hover {
    cursor: pointer;
}

.spell-close-button {
    color: red;
}

.spell-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.spell-details::after {
    content: '';
    width: 75%;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-top: 0.75em;
}

.spell-details > * {
    margin-bottom: 0.25em;
}

.spell-details i {
    font-style: italic;
}

.spell-details dl {
    display: flex;
}

.spell-details dt {
    font-weight: bold;
}

.spell-desc {
    line-height: 1.2em;
    white-space: pre-line;
    margin-bottom: 0.5em;
}

.spell-desc label {
    font-weight: bold;
}

.focus-spell {
    z-index: 11;
}

.unfocus-spell {
    z-index: 10;
}

.spell-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: var(--light-parchment);
    box-sizing: border-box;
}

.spell-form > section {
    box-sizing: border-box;
    padding: 0 0.5em;
}

.spell-form input, .spell-form select, .spell-form textarea {
    border: none;
    resize: none;
    font: inherit;
    box-sizing: border-box;
}

.spell-form input::placeholder, .spell-form textarea::placeholder {
    color: gray;
}

.spell-form-input {
    background-color: transparent;
    transition: background-color 0.5s;
}

.spell-form-error {
    background-color: red!important;
    transition: background-color 0.5s;
}

.spell-form-error-hidden, .spell-form-error-message {
    position: absolute;
    width: fit-content;
    font-size: 0.9em;
    padding: 0.15em 0.3em;
    border-radius: 3px;
}

.spell-form-error-hidden {
    right: 38em;
    border: 0.25px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    color: transparent;
    transition: border 1s, background-color 1s, color 1s, right 0.5s;
}

.spell-form-error-message {
    right: 35em;
    color: white;
    background-color: red;
    font-weight: bolder;
    width: fit-content;
    font-size: 0.9em;
    padding: 0.15em 0.3em;
    box-sizing: border-box;
    border: 0.25px solid white;
    border-radius: 3px;
    transition: border 1s, background-color 1s, color 1s, right 0.5s;
}

#spell-form-name-error {
    top: 1.1em;
}

#spell-form-classes-error {
    top: 6.6em;
}

#spell-form-castingTime-error {
    top: 9.9em
}

#spell-form-range-error {
    top: 11.4em;
}

#spell-form-duration-error {
    top: 14.15em;
}

#spell-form-desc-error {
    top: 20.5em;
}

.spell-form label {
    font-weight: bolder;
}

#spell-form-name-input {
    height: 50px;
    box-sizing: border-box;
    background-color: var(--dark-parchment);
    border-bottom: 4px solid black;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 1.75em;
    margin-bottom: 0.25em;
}

#level-school-section > * {
    font-style: italic;
}

#level-school-section label {
    font-style: inherit;
    margin-left: 1em;
    margin-right: 0.25em;
}

#spell-form-classes-section {
    min-height: 4em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#spell-form-classes-section button {
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 0.5em;
    font-size: auto;
    width: 88px;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    height: 1.8em;
}

.add-class-button {
    background-color: red;
    color: white;
}

.remove-class-button {
    background-color: green;
}

#spell-form-classes-input option {
    display: inline-block;
}

#spell-form-desc-section {
    display: flex;
    flex-direction: column;
}

#spell-form-desc-section > * {
    margin-bottom: 0.25em;
}

#spell-form-desc-input {
    height: 200px;
}

#spell-form-higherLevel-input {
    height: 100px;
}

#spell-form-desc-section textarea {
    border: 1px solid gray;
    border-radius: 3px;
}

#spell-form-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

#spell-form-button-section button {
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    font-weight: bolder;
    background: var(--dark-parchment);
    font-size: 1.25em;
}

#spell-menu {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-color: var(--light-parchment);
    margin-right: 0.5em;
    height: min-content;
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
}

#menu-section-left {
    margin-left: 3rem;
}

#menu-section-left b, #menu-section-left input {
    font-family: 'MedievalSharp', cursive;
    font-weight: bolder;
    font-size: 1.75em;
}

#menu-section-left input {
    border: none;
    background: none;
    padding: 0;
}

#menu-section-left svg {
    font-size: 0.75em;
    vertical-align: top;
    margin-left: 1em;
}

#edit-bookname-submit {
    color: green;
}

#edit-bookname-cancel {
    color: red;
}

#menu-section-left svg:hover {
    cursor: pointer;
}

#menu-button-section {
    display: flex;
    margin-right: 1rem;
}

.spell-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    transition: color 0.5s;
    margin-right: 1rem;
}

.spell-menu-item label {
    font-size: 0.5em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.2em;
}

.spell-menu-item label:hover {
    cursor: pointer;
}

.spell-menu-item svg {
    font-size: 1.5em;
}

.spell-menu-item:hover {
    cursor: pointer;
    color: green;
    transition: color 0.5s;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--light-parchment);
    border: 3px solid black;
    border-radius: 3px;
    padding: 0.75em;
}

.modal-form h1 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

.modal-form i {
    font-style: italic;
}

.modal-form section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal-form button {
    background: var(--dark-parchment);
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 1em;
    width: 5em;
}

#delete-spell-confirmation {
    height: 8em;
    width: 15em;
}

#create-class {
    height: 30em;
    width: 20em;
}

#create-class-input-section {
    flex-direction: column;
    align-items: center;
}

#create-class-input-section input, #create-class-input-section select {
    margin-bottom: 1em;
    border: 2px solid black;
    border-radius: 3px;
}

#create-class-input-section input {
    padding: 0.25em 0.5em;
}

#create-class-input-section select {
    height: 20.7em;
}

#create-class-input-section option {
    padding: 0.25em 0.5em;
    border-bottom: 1px solid gray;
}

#create-class-input-section i {
    margin-bottom: 0.25em;
}

.error-list-hidden {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: 2px solid transparent;
    left: -17em;
    transition: left 0.5s, background-color 1s, color 1s, border 1s;
}

.error-list {
    position: absolute;
    left: -14em;
    top: 5.5em;
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    font-weight: bolder;
    padding: 0.25em 0.5em;
    font-size: 0.9em;
    font-family: sans-serif;
    transition: left 0.5s, background-color 1s, color 1s, border 1s;
}

.spell-stage-1 {
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
}

.spell-stage-0 {
    opacity: 0;
    transition: left 0.5s, opacity .5s;
}

.already-bookmarked {
    color: green;
    transition: color 0.5s;
}

.not-bookmarked {
    transition: color 0.5s;
}

#spellbook-share h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#spellbook-share input {
    background-color: white;
    font-size: 1em;
    width: 27em;
    margin-bottom: 1em;
    padding: 0.125em 0.25em;
}