#spellbook-container {
    display: flex;
    padding: 2em;
}

#spell-list-sidebar {
    /* border: 2px solid black; */
    border-radius: 3px;
    margin-right: 5em;
}

#spell-list-sidebar ol {
    height: 40em;
    width: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.1em;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(500px);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#spell-list-sidebar ol::-webkit-scrollbar {
    width: 10px;
}

#spell-list-sidebar ol::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#spell-list-sidebar ol::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-clip: padding-box;
}

#spell-list-sidebar header, #spell-list-sidebar li {
    display: flex;
    justify-content: space-between;
}

#spell-list-sidebar header {
    border-top: 2px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
    padding: 0.4em 1em;
    background-color: rgba(0,0,0,0.33);
}

#spell-list-sidebar button {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    height: 2em;
}

#spell-list-sidebar li {
    border-bottom: 1px solid black;
    padding: 0.4em 1em;
    transition: background-color 0.3s, padding-left 0.3s;
    border-right: 2px solid black;
}

#spell-list-sidebar li:hover {
    cursor: pointer;
    padding-left: 2em;
    transition: background-color 0.3s, padding-left 0.3s;
}

#spell-list-sidebar li.open-li {
    background-color: rgba(10, 245, 10, 0.5);
    transition: background-color 0.3s, padding-left 0.3s;
}

#spell-list-sidebar li.white-li {
    background-color: rgba(245, 245, 245, 0.25);
}

#spell-list-sidebar li.dark-li {
    background-color: rgba(128, 128, 128, 0.35);
}

#spell-section-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#spellbook-name-header {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#spell-filters-bar {
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0.5em;
}

#search-container, #selects-container {
    display: flex;
    justify-content: space-evenly;
}

#search-container> *, #selects-container > * {
    padding: 0 0.25em;
}

#spell-filters-bar label {
    font-weight: bolder;
}

.spell-container {
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    background-color: var(--light-parchment);
    box-sizing: content-box;
}

.spell-info {
    box-sizing: border-box;
    overflow-x: hide;
    overflow-y: auto;
    padding: 0 1em;
}

.spell-header {
    height: 50px;
    box-sizing: border-box;
    background-color: var(--dark-parchment);
    border-bottom: 4px solid black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.spell-header:hover {
    cursor: all-scroll;
}

.spell-header h1 {
    font-weight: bolder;
    font-size: 1.75em;
    position: relative;
}

.spell-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.spell-details::after {
    content: '';
    width: 75%;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-top: 0.75em;
}

.spell-details > * {
    margin-bottom: 0.25em;
}

.spell-details i {
    font-style: italic;
}

.spell-details dl {
    display: flex;
}

.spell-details dt {
    font-weight: bold;
}

.spell-desc {
    line-height: 1.2em;
    white-space: pre-line;
    margin-bottom: 0.5em;
}

.spell-desc label {
    font-weight: bold;
}

.focus-spell {
    z-index: 11;
}

.unfocus-spell {
    z-index: 10;
}

.spell-close-button {
    background: none;
    border: none;
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.spell-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: var(--light-parchment);
    box-sizing: border-box;
}

.spell-form > section {
    box-sizing: border-box;
    padding: 0 0.5em;
}

.spell-form input, .spell-form select, .spell-form textarea {
    border: none;
    resize: none;
    font: inherit;
    box-sizing: border-box;
}

.spell-form input::placeholder, .spell-form textarea::placeholder {
    color: gray;
}

.spell-form-input {
    background-color: transparent;
    transition: background-color 0.5s;
}

.spell-form-error {
    background-color: red!important;
    transition: background-color 0.5s;
}

.spell-form-error-hidden, .spell-form-error-message {
    position: absolute;
    width: fit-content;
    font-size: 0.9em;
    padding: 0.15em 0.3em;
    border-radius: 3px;
}

.spell-form-error-hidden {
    right: 38em;
    border: 0.25px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    color: transparent;
    transition: border 1s, background-color 1s, color 1s, right 0.5s;
}

.spell-form-error-message {
    right: 35em;
    color: white;
    background-color: red;
    font-weight: bolder;
    width: fit-content;
    font-size: 0.9em;
    padding: 0.15em 0.3em;
    box-sizing: border-box;
    border: 0.25px solid white;
    border-radius: 3px;
    transition: border 1s, background-color 1s, color 1s, right 0.5s;
}

#spell-form-name-error {
    top: 1.1em;
}

#spell-form-classes-error {
    top: 6.6em;
}

#spell-form-castingTime-error {
    top: 9.9em
}

#spell-form-range-error {
    top: 11.4em;
}

#spell-form-duration-error {
    top: 14.15em;
}

#spell-form-desc-error {
    top: 20.5em;
}

.spell-form label {
    font-weight: bolder;
}

#spell-form-name-input {
    height: 50px;
    box-sizing: border-box;
    background-color: var(--dark-parchment);
    border-bottom: 4px solid black;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 1.75em;
    margin-bottom: 0.25em;
}

#level-school-section > * {
    font-style: italic;
}

#spell-form-classes-section {
    height: 4em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#spell-form-classes-section button {
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 0.5em;
    font-size: auto;
    width: 88px;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    height: 1.8em;
}

.add-class-button {
    background-color: red;
    color: white;
}

.remove-class-button {
    background-color: green;
}

#spell-form-classes-input option {
    display: inline-block;
}

#spell-form-desc-section {
    display: flex;
    flex-direction: column;
}

#spell-form-desc-section > * {
    margin-bottom: 0.25em;
}

#spell-form-desc-input {
    height: 200px;
}

#spell-form-higherLevel-input {
    height: 100px;
}

#spell-form-desc-section textarea {
    border: 1px solid gray;
    border-radius: 3px;
}

#spell-form-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

#spell-form-button-section button {
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    font-weight: bolder;
    background: var(--dark-parchment);
    font-size: 1.25em;
}

#spell-menu {
    border: 2px solid black;
    border-radius: 3px;
    background: var(--light-parchment);
    margin-right: 0.5em;
    height: min-content;
    padding: 0.5em;
}

#spell-menu svg {
    font-size: 2em;
    transition: color 0.5s;
}

#spell-menu svg:hover {
    cursor: pointer;
    color: green;
    transition: color 0.5s;
}