#splash-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MedievalSharp', cursive;
}

#splash-container h1 {
    font-size: 5em;
    font-weight: bolder;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

#splash-container button {
    background: rgb(229, 211, 157);
    border: 3px solid black;
    border-radius: 5px;
    font-weight: bolder;
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
    width: 10em;
    height: 5em;
}

#splash-buttons-container {
    display: flex;
    width: 60em;
    justify-content: space-evenly;
}

#splash-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-input-container > * {
    margin-bottom: 2em;
}

#splash-input-container input {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    font-size: 1.5em;
    width: 12em;
    border: 2px solid black;
    border-radius: 3px;
}

#splash-input-container button {
    font-size: 1.5em;
    width: 12em;
    padding: 0.5em;
}